

/* .............NAVBAR........... */

.navbar{
    position: sticky !important;
    top:0px;
    background-color: #e9ecef;
    left:0px;
}

.nav-bar a:active{
    font-weight: bold;
    color: #3487cd !important;
    border-bottom: 1px solid #565387;
}

/* .nav-link:active{
    font-weight: bold;
    color: #3487cd !important;
    border-bottom: 1px solid #565387;
} */

.nav-link{
    padding: 17px 20px !important;
}
.nav-link-login{
    padding: 20px 15px !important;
}
.profile-nav{
    padding:7px 20px !important;
}


.navbar-brand {
    color: #3487cd !important;
    font-size: 2.2rem !important;
}

.navbar .nav-item .nav-link {
    font-size: 1.5rem;
}

.navbar .nav-item .nav-link:hover {
    color: #3487cd !important;
}


/* DROPDOWN STARTS HERE */


/* Style The Dropdown Button */

.dropbtn {
    background-color: #5f94c6;
    color: white;
    padding: 12px 10px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin: 2px 5px;
    border-radius: 7px;
    transition-duration: 0.4s;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000 !important;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* sign in or sign up buttons */

.s-button {
    border: none;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 14px 12px;
    border-radius: 15px;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #008CBA;
}

.s-button:hover {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
}


/* logo  */
.logo{
    vertical-align: middle;
  width: 65px;
  height: 70px;
  border-radius: 10%;

}
